<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div>
        <center>
            <h3  class="container mt-4 mb-5">Welcome, <%= user.username %>&nbsp;&nbsp;&nbsp;<span><a href="/" class="btn btn-primary">Homepage</a></span></h3>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </center>
    </div>
</body>
</html>